.overwiew__header{
    width: 1185px;
    background-color: #F7F8FC;
    padding: 37px 33px 30px 30px;
}

.overwiew__about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.overwiew__headertitle{
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.3px;
    color: #252733;
}

.overwiew__current{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 327px;
}

.overwiew__info{
    width: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-right:1px solid #EBECF3;
    padding-right: 33px;
    margin-right: 32px;
}